.netherlands {
  --primary-colour: #ff6200;
}

.germany {
  --primary-colour: #ffffff;
}

.spain {
  --primary-colour: #eb1000;
}

.italy {
  --primary-colour: #0033cc;
}

.scotland {
  --primary-colour: #003366;
}

.denmark {
  --primary-colour: #eb1000;
}

.france {
  --primary-colour: #0055a4;
}

.portugal {
  --primary-colour: #006600;
}

.switzerland {
  --primary-colour: #eb1000;
}

.czech-republic {
  --primary-colour: #eb1000;
}

.hungary {
  --primary-colour: #eb1000;
}

.poland {
  --primary-colour: #ffffff;
}
