@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./css/clubs.css";
@import "./css/country.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-colour: #52a9ff;
  --button-hover-colour: #52a9cc;
  --primary-text-colour: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 5%;
}

.formContainer {
  width: 65%;
  margin: 0 auto;
}

.marginContainer {
  padding: 5%;
}

.countryCardPadding {
  padding-bottom: 2%;
}

.countryCardContainer {
  width: 80%;
  margin: 0 auto;
}

.countryCardButtonPadding {
  padding-top: 2%;
}

h1 {
  padding: 2%;
}

h2 {
  padding: 2% 2% 2% 0;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
}

.breadCrumbs {
  padding: 2%;
}

.carousel-item-container {
  width: 100%; /* Keeps it responsive */
  aspect-ratio: 2048 / 750; /* Set the aspect ratio based on your image dimensions */
  position: relative; /* Ensure the image is positioned correctly */
}

.carousel-item-container img {
  width: 100%;
  height: auto; /* Maintain the natural aspect ratio of the image */
  object-fit: cover; /* Ensures the image covers the container without stretching */
  position: relative; /* Remove absolute positioning to ensure image loads correctly */
}

.anchorFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.breadcrumb-item.active {
  color: var(--primary-colour);
}

.clubParagraph {
  background-color: var(--primary-colour);
  color: var(--primary-text-colour);
}

.contactUsButton button {
  background-color: var(--primary-colour);
  color: var(--primary-text-colour);
  border: 1px solid var(--primary-colour);
  outline: none;

  --cui-btn-active-color: var(--primary-text-colour);
  --cui-btn-active-bg: var(--button-hover-colour);
  --cui-btn-active-border-color: var(--primary-colour);
  --cui-btn-disabled-color: var(--primary-text-colour);
  --cui-btn-disabled-bg: var(--button-hover-colour);
  --cui-btn-disabled-border-color: var(--primary-colour);
}

.contactUsButton button:active,
.contactUsButton button:focus,
.contactUsButton button:focus-visible {
  background-color: var(--button-hover-colour);
  color: var(--primary-text-colour);
  filter: brightness(90%);
  border: 1px solid var(--primary-colour);
  outline: none;
}

.contactUsButton button:hover {
  background-color: var(--button-hover-colour);
  color: var(--primary-text-colour);
  filter: brightness(90%);
  border: 1px solid var(--primary-colour);
}

.countryCardButtonPadding a {
  background-color: var(--primary-colour);
  color: var(--primary-text-colour);
  border: 1px solid var(--primary-colour);
  outline: none;

  --cui-btn-active-color: var(--primary-text-colour);
  --cui-btn-active-bg: var(--button-hover-colour);
  --cui-btn-active-border-color: var(--primary-colour);
  --cui-btn-disabled-color: var(--primary-text-colour);
  --cui-btn-disabled-bg: var(--button-hover-colour);
  --cui-btn-disabled-border-color: var(--primary-colour);
}

.countryCardButtonPadding a:active,
.countryCardButtonPadding a:focus,
.countryCardButtonPadding a:focus-visible {
  background-color: var(--button-hover-colour);
  color: var(--primary-text-colour);
  filter: brightness(90%);
  border: 1px solid var(--primary-colour);
  outline: none;
}

.countryCardButtonPadding a:hover {
  background-color: var(--button-hover-colour);
  color: var(--primary-text-colour);
  filter: brightness(90%);
  border: 1px solid var(--primary-colour);
}

.countryClubCardHeader {
  background-color: var(--primary-colour);
  color: var(--primary-text-colour);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
