@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.formContainer {
  width: 65%;
  margin: 0 auto;
}

.marginContainer {
  padding: 5%;
}

.countryCardPadding {
  padding-bottom: 2%;
}

.countryCardContainer {
  width: 80%;
  margin: 0 auto;
}

.countryCardButtonPadding {
  padding-top: 2%;
}

h1 {
  padding: 2%;
}

h2 {
  padding: 2% 2% 2% 0;
}

h3 {
  font-size: 1.25em; 
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
}

.breadCrumbs {
  padding: 2%;
}

.carousel-item-container {
  width: 100%; /* Keeps it responsive */
  aspect-ratio: 2048 / 750; /* Set the aspect ratio based on your image dimensions */
  position: relative; /* Ensure the image is positioned correctly */
}

.carousel-item-container img {
  width: 100%;
  height: auto; /* Maintain the natural aspect ratio of the image */
  object-fit: cover; /* Ensures the image covers the container without stretching */
  position: relative; /* Remove absolute positioning to ensure image loads correctly */
}

.anchorFooter {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  text-align: center;
}
 
